<!DOCTYPE html>
<html ng-app="headjackApp" ng-csp="">
<head>
    <meta charset="utf-8">
    <title>Contactlist</title>

    <link href="css/design.css" rel="stylesheet">
    <link href="bower_components/angular-material/angular-material.min.css" rel="stylesheet">
    <link href="bower_components/angularjs/angular-csp.css" rel="stylesheet">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angularjs/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.js"></script>
    <script src="js/matrix.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/chrome-message-service.js"></script>
    <script src="js/services/mx-service.js"></script>
    <script src="js/contactlist.js"></script>
</head>
<body ng-controller="ContactlistCtrl">


<md-content layout="column" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Matrix Headjack</span>
            <span flex></span>
            <md-button>
                #
            </md-button>
        </div>
    </md-toolbar>

    <md-content flex style="height: 1px">
        <md-list flex>
            <mx-contactlist-entry room="room" ng-repeat="room in rooms" ></mx-contactlist-entry>
        </md-list>
    </md-content>
    <md-toolbar>Footer</md-toolbar>
</md-content>

<!--<div class="navbar navbar-black shadow-z-1">-->
    <!--<div class="navbar-header">-->
        <!--<button class="navbar-toggle pull-left"><i class="mdi-navigation-menu"></i></button>-->
        <!--<span class="navbar-brand">Matrix</span>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="container" ng-show="loading">-->
    <!--<div class="col-xs-12">-->
        <!--<div class="spinner">-->
            <!--<div class="double-bounce1"></div>-->
            <!--<div class="double-bounce2"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="container text-center" ng-show="accountcheck.display">-->
    <!--<div class="row">-->
        <!--<div class="col-xs-12"><h2>No accounts</h2></div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-xs-12"><button class="btn btn-success" data-toggle="modal" data-target="#add-account">Add account</button></div>-->
    <!--</div>-->

    <!--<div id="add-account" class="modal">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                    <!--<h4 class="modal-title">Add account</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<form class="form-horizontal" ng-submit="checkLogin()">-->
                        <!--<fieldset>-->
                            <!--<div class="form-group">-->
                                <!--<label for="user" class="col-lg-2 control-label">Username</label>-->
                                <!--<div class="col-lg-10">-->
                                    <!--<input ng-model="loginform.user" type="text" class="form-control" id="user" placeholder="Username">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label for="password" class="col-lg-2 control-label">Password</label>-->
                                <!--<div class="col-lg-10">-->
                                    <!--<input ng-model="loginform.password" type="password" class="form-control" id="password" placeholder="Password">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<button class="btn btn-primary btn-sm" ng-disabled="loginform.disabled">Login</button>-->
                            <!--</div>-->
                            <!--<div ng-show="loginform.error" class="form-group alert alert-dismissable alert-danger">-->
                                <!--<p>Login error: <span>{{ loginform.error }}</span></p>-->
                            <!--</div>-->
                        <!--</fieldset>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->

<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="list-group">-->
            <!--<mx-contactlist-entry room="room" ng-repeat="room in rooms" ></mx-contactlist-entry>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
</body>
</html>