<md-content style="height: 100%" layout="column" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Matrix Headjack</span>
            <span flex></span>
            <md-button>
                #
            </md-button>
        </div>
    </md-toolbar>

    <md-content flex ng-show="accountcheck.display">
        <h2>No accounts</h2>
        <p><a href="#/settings">Add account</a></p>
    </md-content>

    <md-content flex ng-show="!accountcheck.display">
        <md-list flex>
            <mx-contactlist-entry room="room" ng-repeat="room in rooms" ></mx-contactlist-entry>
        </md-list>
    </md-content>
    <md-toolbar>Footer</md-toolbar>
</md-content>