<div ng-click="openRoom(room.room_id, room.me)" class="list-group-item">
    <div class="row-action-primary">
        <i class="mdi-social-group"></i>
    </div>
    <div class="row-content">
        <div class="least-content">{{ (room | mx_room_members).length }}</div>
        <h4 class="list-group-item-heading">{{ room | mx_room_alias }}</h4>

        <!--<p class="list-group-item-text">{{ room.now.state_events['m.room.topic'].content.topic }}</p>-->
    </div>
</div>
<div class="list-group-separator"></div>